<h1>New Question</h1>
<!-- form_for is a rails helper that expects to be given an ActiveRecord object as a first argument. If the object is not persisted, it will automatically set the action for the form to the associated controller create action, in this case it will make the action go to "question_path" and it will automatically set the method to "post" -->
<!-- if @ question has any of it's attributes set, it will populate the corresponding field with that data -->
<!-- <%= @question.errors.full_messages.join(", ") %>

<%= form_for @question do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %> -->
<!-- #render form will look for a partial name '_form.html.erb' within the same folder as this file. partial has access to the same things as this file such as instance variables and helper methods. -->
<%= render "form" %>
