<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  |
  <%= link_to "New Product", new_product_path %>
  |
  <% if user_signed_in? %>
    <%= "Hello #{current_user.first_name}" %>
    <%= link_to "Sign out", sessions_path, method: :delete %>
  <% else %>
    <%= link_to "Create New User", new_user_path %>
    <%= link_to "Sign in", new_session_path %>
  <% end %>
  <hr>
  <% if flash[:notice] %>
    <div class="flash-notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="flash-alert"><%= flash[:alert] %></div>
  <% end %>
<%= yield %>

</body>
</html>
